<h1>Hello! <%= @object.email%></h1>

<p>
  A new <%= @object.class.to_s %> has been created,
  with <%= @object.email.to_s%> this mail.
</p>



<!-- <h3>Now the <%#= @object.class.to_s %> has total of <#%= @object_count %> records.</h3> -->
<h4>Thank you</h4>
<h4>From: Sambhav</h4>